body
{
	height: 100%;
	width: 100%;
	margin: 0;
}


.droneVideoFrameContainer
{
	position:fixed;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    background: #000;
}

.droneVideoFrameCanvas
{
	background: #000;
	width: 100vw; 
    height: 56.25vw;		/* height:width ratio = 9/16 = .5625  */
	max-height: 100vh;
    max-width: 177.78vh;	/* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0; bottom:0;		/* vertical center */
    left:0; right:0;		/* horizontal center */
    z-index: 0;
}

.droneVideoFrameTitle
{
	background: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.5;
	z-index: 2;
}

.droneVideoFrameTitle p
{
	text-align: center;
	font-family: sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	width: 100%;
	position: absolute;
	top: calc(50% - 12px);
}

.camControlButton
{
	position: absolute;
	opacity: 0.75;
	z-index: 1;
}

#camLeftButton
{
	content: url(/images/buttons/cam-arrows/left.png);
	left: -55px;
	top: calc(50% - 96px);
}

#camRightButton
{
	content: url(/images/buttons/cam-arrows/right.png);
	right:-55px;
	top: calc(50% - 96px);
}

#camUpButton
{
	content: url(/images/buttons/cam-arrows/up.png);
	left: calc(50% - 96px);
	top: -55px;
}

#camDownButton
{
	content: url(/images/buttons/cam-arrows/down.png);
	left: calc(50% - 96px);
	bottom: -55px;
}


.phoneVideoContainer
{
	position:fixed;
    top:0;
    left: 0;
    width:100%;
    height:100%;
	background-color: #000;
}

.phoneVideo
{
	width: 100%;
	height: 100%;
	background-color: #000;
}

.desktopVideo
{
	position: absolute;
	bottom: 2%;
	right: 2%;
	width: 20%;
	height: auto;
	background-color: #000;
}


.mapContainer
{
	width: 480px;
	height: 540px;
	background-color: #090;
}


.photoTimelineContainer
{
	/*width: 1440px;*/
	width: 1365px;
	height: 180px;
	background-color: #DDD;
}

.cover-container
{
    height: 180px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.cover-item
{
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #BBB;
    width: 200px;
    height: 150px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
