/*
h1
{
	font-family: sans-serif;
	font-size: 24px;
	font-weight: bold;
}

button
{
	background-color: #FFF;
}
*/

.videoFrameContainer
{
	width: 800px;
	height: 450px;
	position: relative;
	margin-left: auto;
    margin-right: auto;
}

.videoFrameCanvas
{
	background: #000;
	width: 100%;
	height: 100%;
}

.camControlButton
{
	position: absolute;
}

#camLeftButton
{
	content: url(/images/icons/cam-arrows/left.png);
	left:-55px;
	top: 129px;
}

#camRightButton
{
	content: url(/images/icons/cam-arrows/right.png);
	right:-55px;
	top: 129px;
}

#camUpButton
{
	content: url(/images/icons/cam-arrows/up.png);
	left: 304px;
	top: -55px;
}

#camDownButton
{
	content: url(/images/icons/cam-arrows/down.png);
	left: 304px;
	bottom: -55px;
}

.mapContainer
{
	width: 480px;
	height: 450px;
	background-color: #090;
}

.photoTimelineContainer
{
	width: 1280px;
	height: 270px;
	background-color: #999;
}
